{
  "extends": [
    "@jedwards1211/eslint-config",
    "@jedwards1211/eslint-config-flow",
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "es2017": true
  }
}
